@import url(http://fonts.googleapis.com/css?family=Droid+Sans:400,700);
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

body, html, .clock-box {
  width: 100%;
  height: 100%;
  min-height: 100%;
  min-width: 100%;
  font-family: "Droid Sans", sans-serif; }

.clock-box {
  position: relative; }

.clock-hours-left,
.clock-hours-right,
.clock-minutes-left,
.clock-minutes-right {
  position: fixed;
  width: 50%;
  height: 50%;
  min-height: 50%;
  min-width: 50%;
  border: 1px solid rgba(255, 255, 255, 0.2); }
  .clock-hours-left .digit,
  .clock-hours-right .digit,
  .clock-minutes-left .digit,
  .clock-minutes-right .digit {
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -155px 0 0 -127px;
    text-align: center;
    width: 254px;
    height: 311px; }

.clock-hours-left {
  left: 0;
  top: 0; }

.clock-hours-right {
  right: 0;
  top: 0; }

.clock-minutes-left {
  left: 0;
  bottom: 0; }

.clock-minutes-right {
  right: 0;
  bottom: 0; }

.clock-hours-left-bg,
.clock-hours-right-bg,
.clock-minutes-left-bg,
.clock-minutes-right-bg {
  position: absolute;
  width: 100%;
  height: 100%;
  min-height: 100%;
  min-width: 100%; }

.clock-hours-left-bg {
  left: 0;
  top: 0;
  background: url(../img/clock-hours-left-bg.png) left top no-repeat; }

.clock-hours-right-bg {
  right: 0;
  top: 0;
  background: url(../img/clock-hours-right-bg.png) 15% 20% no-repeat; }

.clock-minutes-left-bg {
  left: 0;
  bottom: 0;
  background: url(../img/clock-minutes-left-bg.png) -2% -20% no-repeat; }

.clock-minutes-right-bg {
  right: 0;
  bottom: 0;
  background: url(../img/clock-minutes-right-bg.png) right bottom no-repeat; }

.bg0 {
  background: #d66728; }

.bg1 {
  background: #f4acc0; }

.bg2 {
  background: #f3c158; }

.bg3 {
  background: #a2d7c5; }

.bg4 {
  background: #d74355; }

.bg5 {
  background: #1e595a; }

.bg6 {
  background: #e2d5c3; }

.bg7 {
  background: #7455a4; }

.bg8 {
  background: #47a97c; }

.bg9 {
  background: #9d96a4; }

.contacts {
  position: fixed;
  left: 20px;
  bottom: 20px;
  font-size: 13px;
  display: block;
  z-index: 1;
  color: white;
  font-weight: 400; }
  .contacts a {
    color: white;
    text-decoration: underline; }
    .contacts a:hover {
      text-decoration: none; }

@media screen and (max-width: 665px) {
  .clock-hours-left .digit,
  .clock-hours-right .digit,
  .clock-minutes-left .digit,
  .clock-minutes-right .digit {
    -webkit-background-size: auto 60% !important;
    background-size: auto 60% !important; } }
@media screen and (max-width: 450px) {
  .clock-hours-left .digit,
  .clock-hours-right .digit,
  .clock-minutes-left .digit,
  .clock-minutes-right .digit {
    -webkit-background-size: auto 40% !important;
    background-size: auto 40% !important; } }
@media screen and (max-width: 280px) {
  .clock-hours-left .digit,
  .clock-hours-right .digit,
  .clock-minutes-left .digit,
  .clock-minutes-right .digit {
    -webkit-background-size: auto 24% !important;
    background-size: auto 24% !important; } }
@media screen and (max-height: 665px) {
  .clock-hours-left .digit,
  .clock-hours-right .digit,
  .clock-minutes-left .digit,
  .clock-minutes-right .digit {
    -webkit-background-size: auto 70% !important;
    background-size: auto 70% !important; } }
@media screen and (max-height: 490px) {
  .clock-hours-left .digit,
  .clock-hours-right .digit,
  .clock-minutes-left .digit,
  .clock-minutes-right .digit {
    -webkit-background-size: auto 50% !important;
    background-size: auto 50% !important; } }
@media screen and (max-height: 340px) {
  .clock-hours-left .digit,
  .clock-hours-right .digit,
  .clock-minutes-left .digit,
  .clock-minutes-right .digit {
    -webkit-background-size: auto 35% !important;
    background-size: auto 35% !important; } }
@media screen and (max-height: 240px) {
  .clock-hours-left .digit,
  .clock-hours-right .digit,
  .clock-minutes-left .digit,
  .clock-minutes-right .digit {
    -webkit-background-size: auto 25% !important;
    background-size: auto 25% !important; } }

/*# sourceMappingURL=style.css.map */
